<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ponup.salmon" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Salmon</name>
    <description>A sample Apache Cordova application that responds to the deviceready event.</description>
    <author email="salmon.game@ponup.com" href="http://ponup.com">Ponup</author>
    <content src="index.html" />
    <access origin="*" />
</widget>
