/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@charset "UTF-8";
@import "normalize";
@import "mixins";

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html, section {
    width: 100%;
    height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#1ac3ee;
    color: #fff;
    font-family:'Patua One', Sans, sans, sans-serif;
    height:100%;
    font-size: 1.2em;
    text-align:center;
    width:100%;
    @include text-shadow();
    background: #fff ;

}

section {
    background: url('../img/menu/menu_bg.png') center center no-repeat;
    background-size: cover;
    
    position: absolute;
    max-width: 1080px;
    max-height: 720px;
    margin:auto;
    left: 0%; right: 0%; top: 0%; bottom: 0%;
    @include border-radius(10px);

}

/* typo */

a { text-decoration: none; }
h1,h2,h3,h4,h5,h6 {
    //font-size: 2em;
    //font-family: 'Amatic SC', 'Amatic', 'Helvetica', 'Helvetica Neue',sans, sans-serif;
}
h1 {
    font-weight:normal;
    text-align:center;
}

/* listas */
.hidden { display: none; }

ul { padding: 0; list-style-type: none; li { display: inline-block; } }
ul.actions {
    position: absolute;
    left: 0%; right: 0%; bottom: 0;
    width: 100%; 
    margin:auto;
    li{
        width:33%; 
        height: 100%;
        cursor:pointer;
        padding: 40px 0px;
    }
    li:first-child{float: left; }
    li:last-child{float: right; }
}


/* menu */
#menu {
    
    position: absolute;
    top:0; left: 0;
    header, footer { 
        position: absolute;
        left: 0;
        width: 100%;
    }
    header {
        top:0; 
        height: 50%;
    }
    #logo {
            position: absolute;
            margin: auto;
            left: 0%; right: 0%; top:14%;
            max-width: 100%;
            max-height: 50%;
            width: 70%;
        }
    footer {
        bottom:0;
        height: 50%;
       
    }
}

/* options */
#options {
    
    .settings {
        width: 100%;
        position: absolute;
        margin: auto;
        height: 50%;
        top: 25%;
        left: 0%;
        right: 0%;
    }
    
    .setting-on {background: url('../img/items/setting_on.png') no-repeat center center; }
    .setting-off {background: url('../img/items/setting_off.png') no-repeat center center; }

    dl{
        * {margin: 0 !important; padding: 0!important;}
        dt{
            width: 48%;
            height: 50%;
            float: left;
        }
        dd {
            float: right;
            width: 48%;
            height: 50%;
        }

    }
}

#game {
    
    position: absolute;
    top:0; left: 0;
    overflow: hidden;
    #gameDiv {
        position: absolute;

        left: 0%; right: 0%; top:0%; bottom:0%; margin:auto;
        width: 320px; height: 480px; border: 2px solid black;
        @include box-shadow();

    }
    dl, dd, dt { position: absolute; padding: 0; margin: 0; display: block;}
    dt {display: none;}
    #gameInfo {
        width: 100%;
        height: 100%;
    }
    #secondsLeft {
        left: 15px;
        top: 15px;
    }
    #score {
        right: 15px;
        top: 15px;
    }
    #energy {
        left: 0px ; top: 15px ; right: 15px; margin : auto;
    }
    #distance {
        left: 0px ; bottom: 15px ; right: 15px; margin : auto;   
    }
}