@charset "UTF-8";

@import "normalize";
@import "mixins";

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, section {
    width: 100%;
    height: 100%;
}

body {
	margin: 0px;
    background-color:#1ac3ee;
    color: #fff;
    font-family:'Patua One', Sans, sans, sans-serif;
    height:100%;
    font-size: 1.2em;
    text-align:center;
    width:100%;
    @include text-shadow();
    background: #fff ;

}

section {
    background: url('../img/menu/menu_bg.png') center center no-repeat;
    background-size: cover;
    
    position: absolute;
    max-width: 1080px;
    max-height: 720px;
    margin:auto;
    left: 0%; right: 0%; top: 0%; bottom: 0%;
    @include border-radius(10px);
    @include breakpoint(mobileonly){
        @include border-radius(0);
    }

}

/* typo */

a { text-decoration: none; }
h1 {
    font-weight:normal;
    text-align:center;
}

.hidden { display: none; }

ul { padding: 0; list-style-type: none; li { display: inline-block; } }
ul.actions {
    position: absolute;
    left: 0%; right: 0%; bottom: 0;
    width: 100%; 
    margin:auto;
    li{
        width:33%; 
        height: 100%;
        cursor:pointer;
        padding: 40px 0px;
    }
    li:first-child{float: left; }
    li:last-child{float: right; }
}


/* menu */
#menu {
    
    position: absolute;
    top:0; left: 0;
    header, footer { 
        position: absolute;
        left: 0;
        width: 100%;
    }
    header {
        top:0; 
        height: 50%;
    }
    #logo {
            position: absolute;
            margin: auto;
            left: 0%; right: 0%; top:14%;
            max-width: 100%;
            max-height: 50%;
            width: 70%;
        }
    footer {
        bottom:0;
        height: 50%;
       
    }
}

/* options */
#options {
    
    .settings {
        width: 100%;
        position: absolute;
        margin: auto;
        height: 50%;
        top: 25%;
        left: 0%;
        right: 0%;
    }
    
    .setting-on {background: url('../img/items/setting_on.png') no-repeat center center; }
    .setting-off {background: url('../img/items/setting_off.png') no-repeat center center; }

    dl{
        * {margin: 0 !important; padding: 0!important;}
        dt{
            width: 48%;
            height: 50%;
            float: left;
        }
        dd {
            float: right;
            width: 48%;
            height: 50%;
        }

    }
}

#scores {
    table, #table { width: 100%; }
    td {width: 32%; } tr {height: 15%; }
    th {
        font-size: 1.3em; padding: 0;
        color: rgba(0,0,0,.4);
        @include text-shadow(none);
        height: 100px;
        font-weight: normal;
    }
}
#game {
    
    position: absolute;
    top:0; left: 0;
    overflow: hidden;
    #gameDiv {
        position: absolute;

        left: 0%; right: 0%; top:0%; bottom:0%; margin:auto;
        width: 320px; height: 480px; border: 2px solid black;
        @include box-shadow();

    }
    dl, dd, dt { position: absolute; padding: 0; margin: 0; display: block;
        font-size: 1.1em;
    }
    dt {display: none;}
    #secondsLeft {left: 15px; top: 15px; }
    #score {right: 15px; top: 15px; }
    #energy {left: 0px ; top: 15px ; right: 15px; margin : auto; }
    #distance {left: 0px ; bottom: 15px ; right: 15px; margin : auto; }
}
